body {
	background: darkgray;
  height: 300px;
  display: grid;
  place-items: center;
}
.pulser {
  width: 30px;
  height: 30px;
  background: rebeccapurple;
  border-radius: 50%;
  position: relative;
}

.pulser::after {
  animation: pulse 10000ms cubic-bezier(0.9, 0.7, 0.5, 0.9) infinite;
  
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  10% {
    background: green;
    opacity: 1;
  }
  20% {
    background: red;
    opacity: 0.2;
  }
  30% {
    background: black;
    opacity: 0.9;
  }
  40% {
    background: yellow;
    opacity: 1;
  }
  50% {
    transform: scale(5);
    opacity: 0.4;
  }
  60% {
    background: pink;
    opacity: 0.2;
  }
70% {
    background: yellow;
    opacity: 1;
  }
80% {
    background: white;
    opacity: 0.6;
  }
90% {
    background: brown;
    opacity: 1;
  }
}

.pulser::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: blueviolet;
  border-radius: 50%;
  z-index: -1;
}

